.question {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #cecece;  
  padding: 1rem 2rem;

  p{
    font-size: 1.5rem;
    font-weight: 500;
    width: 70%;
    text-align: center;
  }
  .radio-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    
    input[type="radio"] {
      display: none;
    }

    span{
      display: inline-block;
      cursor: pointer;
      border-radius: 50%;
      background: white;
    }
    .span-0, .span-1, .span-2{
      border: 4px solid #6dff6d;
      &:hover{
        background: #6dff6d;
      }
    }
    .span-4, .span-5, .span-6{
      border: 4px solid #ffaeae;
      &:hover{
        background: #ffaeae;
      }
    }
    .span-0, .span-6{
      height: 4rem;
      width: 4rem;
    }
    .span-1, .span-5{
      height: 3.5rem;
      width: 3.5rem;
    }
    .span-2, .span-4{
      height: 3rem;
      width: 3rem;
    }
    .span-3{
      height: 2.5rem;
      width: 2.5rem;
      border: 4px solid #c5c5c5;
      &:hover{
        background: #c5c5c5;
      }
    }
    .span-0.selected, .span-1.selected, .span-2.selected{
      background: #6dff6d;
    }
    .span-4.selected, .span-5.selected, .span-6.selected{
      background: #ffaeae;
    }
    .span-3.selected{
      background: #c5c5c5;
    }
  }
}
