.custom-select {
  position: relative;
  width: 300px;
  display: flex;
  flex-direction: column;
}
.selected-option {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--bg);
  border: 1px solid var(--border-color-1);
  border-radius: 5px;
  cursor: pointer;
  color: var(--text-color-1);
}
label {
  margin-bottom: 1rem;
  color: var(--text-color-1);
}
.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: var(--secondary-bg);
}
.options li {
  padding: 1rem;
  color: var(--text-color-1);
  cursor: pointer;
}
.options li:hover {
  background-color: var(--border-color-1);
}
