.personalitiesPage{
  .personalityHero{
    padding: 4rem 10% 0;
    background: var(--secondary-bg);
    .personalityHeroSection{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 2rem 10%;
      background: var(--bg);
      color: var(--text-color-1);
      align-items: center;
      border: 1px solid var(--border-color-1);
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      border-bottom: none;
      h1{
        font-size: 20px;
      }
      p{
        text-align: justify;
      }
    }
  }
  .personalities{
    display: flex;
    flex-direction: column;
    .group{
      display: flex;
      align-items: stretch;
      justify-content: center;
      gap: 2rem;
      padding: 5% 10%;
      position: relative;
      min-height: 80vh;
      .groupH4{
        position: absolute;
        top: -4%;
      }
      h4{
        position: absolute;
        left: 10%;
        font-size: 180px;
        letter-spacing: 40px;
        z-index: 0;
        font-weight: 600;
        font-family: "Crackajack";
      }
    }
    .analysts{
      background-color: #d799ee;
      h4{
        font-size: 190px;
        color: #dec0f0;
      }
    }
    .analysts.dark{
      background-color: #421353;
      h4{
        color: #591f7a;
      }
    }
    .diplomats{
      background-color: #a8ee88;
      h4{
        color: #d2e2ca;
      }
    }
    .diplomats.dark{
      background-color: #326d17;
      h4{
        color: #3b8815;
      }
    }
    .sentinels{
      background-color: #79e8ee;
      h4{
        color: #b7e4e7;
      }
    }
    .sentinels.dark{
      background-color: #00666b;
      h4{
        color: #0e757c;
      }
    }
    .explorers{
      background-color: #f3df6c;
      h4{
        color: #faf5df;
      }
    }
    .explorers.dark{
      background-color: #ceb02e;
      h4{
        color: #e2c233;
      }
    }
  }
}