.personalities{
  display: flex;
  align-items: center;
  background: #f7f7f7;
  flex-direction: column;
  .personalityHero{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 6rem;
    background: white;
    align-items: center;
    width: 80%;
    margin-top: 4rem;
    border: 1px solid #dbe5e6;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom: none;
    h1{
      font-size: 22px;
    }
    p{
      font-size: 14px;
      text-align: justify;
    }
  }
  .personalities{
    display: flex;
    flex-direction: column;

    .group{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      height: 80vh;
      padding: 0 5%;
    }

    .analysts{
      background-color: #d799ee;
      position: relative;
      h4{
        position: absolute;
        top: -5%;
        left: 5%;
        font-size: 170px;
        letter-spacing: 40px;
        z-index: 0;
        color: #e1d7e6;
      }
    }
    .diplomats{
      background-color: #a8ee88;
      position: relative;
      h4{
        position: absolute;
        top: -5%;
        left: 5%;
        font-size: 170px;
        letter-spacing: 50px;
        z-index: 0;
        color: #dfe7db;
      }
    }
    .sentinels{
      background-color: #79e8ee;
      position: relative;
      h4{
        position: absolute;
        top: -5%;
        left: 5%;
        font-size: 170px;
        letter-spacing: 40px;
        z-index: 0;
        color: #cce9eb;
      }
    }
    .explorers{
      background-color: #f3df6c;
      position: relative;
      h4{
        position: absolute;
        top: -5%;
        left: 5%;
        font-size: 170px;
        letter-spacing: 40px;
        z-index: 0;
        color: #ffffff;
      }
    }
  }
}