.personalities{
  display: flex;
  align-items: center;
  background: #f7f7f7;
  flex-direction: column;
  .personalityHero{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 6rem;
    background: white;
    align-items: center;
    width: 80%;
    margin-top: 4rem;
    border: 1px solid #dbe5e6;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom: none;
    h1{
      font-size: 20px;
    }
    p{
      font-size: 16px;
      text-align: justify;
    }
  }
  .personalities{
    display: flex;
    flex-direction: column;
    .group{
      display: flex;
      align-items: stretch;
      justify-content: center;
      gap: 2rem;
      // height: 80vh;
      padding: 5%;
      position: relative;
      h4{
        position: absolute;
        top: -1%;
        left: 5%;
        font-size: 170px;
        letter-spacing: 40px;
        z-index: 0;
        font-weight: 600;
        font-family: "Crackajack";
      }
    }

    .analysts{
      background-color: #d799ee;
      h4{
        font-size: 180px;
        color: #dec0f0;
      }
    }
    .diplomats{
      background-color: #a8ee88;
      h4{
        font-size: 170px;
        letter-spacing: 50px;
        color: #d2e2ca;
      }
    }
    .sentinels{
      background-color: #79e8ee;
      h4{
        color: #b7e4e7;
      }
    }
    .explorers{
      background-color: #f3df6c;
      h4{
        color: #faf5df;
      }
    }
  }
}