.letterCards{
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 1rem;
  color: #ffffff;
  h1{
    margin-bottom: 3rem;
    text-align: center;
  }
  .card{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 3px 5px 10px 0px rgba(172, 172, 172, 0.904);
    background: rgba(0, 0, 0, 0.521);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1;
    // width: 45%;
    transition: display 0.3s ease-in-out;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
    position: relative;
    justify-content: center;
    .h2Box{
      padding: 1rem;
      border-bottom: 1px solid grey;
      border-radius: 20px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      h2{
        font-size: 20px;
        font-weight: 600;
        position: relative;
      }
    }
    h2:hover .pBox{
      display: flex;
    }
    .pBox{
      padding: 1rem;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      transition: display 1s ease;
      p{
        opacity: 1;
        transition: opacity 0.5s;
        font-size: 14px;
        line-height: 20px;
        text-align: justify;
      }
    }
  }
  .circle{
    position: absolute;
    height: 100px;
    width: 100px;
    background: linear-gradient(#f00, #f0f);
    border-radius: 50%;
    left: 10%;
    top: 5%;
  }
  .circle2{
    position: absolute;
    height: 150px;
    width: 150px;
    background: linear-gradient(#2196f3, #e91e63);
    border-radius: 50%;
    right: 7%;
    bottom: 15%;
  }
  .ei{
    position: relative;
    box-shadow: 3px 5px 10px 0px rgb(255 251 0 / 90%);
    background: #fff90033;

    &:hover{
      background: #fff90080;
    }
  }
  .ns{
    align-self: flex-end;
    background: #7ff5c333;
    box-shadow: 3px 5px 10px 0px #00ff66e6;
    &:hover{
      background: #00ff6680;
    }
  }
  .tf{
    position: relative;
    box-shadow: 3px 5px 10px 0px #006effe6;
    background: #007fff33;
    &:hover{
      background: #007fff80;
    }
  }
  .jp{
    align-self: flex-end;
    box-shadow: 3px 5px 10px 0px #ff0000e6;
    background: #ff000033;
    &:hover{
      background: #ff000080;
    }
  }
}