.letterCards{
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 1rem;
  color: #ffffff;
  h1{
    margin-bottom: 3rem;
    text-align: center;
  }
  .card{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 3px 5px 10px 0px rgba(172, 172, 172, 0.904);
    background: rgba(0, 0, 0, 0.521);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1;
    // width: 45%;
    transition: display 0.3s ease-in-out;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
    position: relative;
    justify-content: center;
    .h2Box{
      padding: 1rem;
      border-bottom: 1px solid grey;
      border-radius: 10px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      h2{
        font-size: 20px;
        font-weight: 600;
        position: relative;
      }
    }
    h2:hover .pBox{
      display: flex;
    }
    .pBox{
      padding: 1rem;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      transition: display 1s ease;
      p{
        opacity: 1;
        transition: opacity 0.5s;
        font-size: 14px;
        line-height: 20px;
        text-align: left;
      }
    }
  }
  .ei{
    position: relative;
    box-shadow: 3px 5px 10px 0px rgb(255 251 0 / 90%);
    background: #fff90033;

    &:hover{
      background: #fff90080;
    }
  }
  .ns{
    align-self: flex-end;
    background: #7ff5c333;
    box-shadow: 3px 5px 10px 0px #00ff66e6;
    &:hover{
      background: #00ff6680;
    }
  }
  .tf{
    position: relative;
    box-shadow: 3px 5px 10px 0px #006effe6;
    background: #007fff33;
    &:hover{
      background: #007fff80;
    }
  }
  .jp{
    align-self: flex-end;
    box-shadow: 3px 5px 10px 0px #ff0000e6;
    background: #ff000033;
    &:hover{
      background: #ff000080;
    }
  }
}
@media (min-width: 1600px){
  .letterCards{
    h1{
      margin-bottom: 4rem;
    }
    .card{
      .h2Box{
        padding: 2rem;
        h2{
          font-size: 26px;
        }
      }
      .pBox{
        padding: 2rem;
        p{
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
  }
}
@media (min-width: 1400px) and (max-width: 1600px){
  .letterCards{
    h1{
      margin-bottom: 3rem;
    }
    .card{
      .h2Box{
        padding: 1.5rem;
        h2{
          font-size: 24px;
        }
      }
      .pBox{
        padding: 1.5rem;
        p{
          font-size: 18px;
          line-height: 20px;
        }
      }
    }
  }
}
@media (max-width: 998px){
  .letterCards{
    h1{
      margin-bottom: 2rem;
    }
    .card{
      .h2Box{
        padding: 1rem;
        h2{
          font-size: 16px;
        }
      }
      .pBox{
        padding: 1rem;
        p{
          font-size: 12px;
          line-height: 20px;
        }
      }
    }
  }
}
@media (max-width: 768px){
  .letterCards{
    h1{
      margin-bottom: 1.5rem;
    }
    .card{
      .h2Box{
        padding: 0.7rem;
        h2{
          font-size: 14px;
        }
      }
      .pBox{
        padding: 0.7rem;
        p{
          font-size: 10px;
          line-height: 15px;
        }
      }
    }
  }
}
@media (max-width: 560px){
  .letterCards{
    gap: 2rem;
    h1{
      margin-bottom: 0;
    }
    .card{
      .h2Box{
        padding: 0.5rem;
        h2{
          font-size: 13px;
        }
      }
      .pBox{
        padding: 0.5rem;
        p{
          font-size: 10px;
          line-height: 12px;
        }
      }
    }
  }
}
@media (max-width: 400px){
  .letterCards{
    gap: 1.5rem;
    h1{
      margin-bottom: 0;
    }
    .card{
      .h2Box{
        padding: 0.5rem;
        h2{
          font-size: 12px;
        }
      }
      .pBox{
        padding: 0.5rem;
        p{
          font-size: 10px;
          line-height: 12px;
        }
      }
    }
  }
}