.singlePersonality{
  overflow: hidden;
  h1{
    text-align: left;
  }
  h3{
    position: absolute;
    top: 7%;
    left: 10%;
    font-size: 170px;
    letter-spacing: 40px;
    z-index: 0;
    font-family: "Crackajack";
  }
  .line{
    background: var(--border-color-1);
    height: 1px;
    width: 120px;
    z-index: 1;
  }
  .singlePersonalityHero{
    height:calc(100vh - 4rem);
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--section-padding);
    .sHero{
      height: 100%;
      width: 100%;
      border-radius: 10px;
      background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("/images/personality4.jpg");
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      color: var(--text-color-2);
      border: 1px solid var(--border-color-1);
      .heroText{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        h1{
          font-size: 48px;
          font-weight: 700;
        }
        h2{
          font-size: 24px;
          font-family: "Azonix";
          color: var(--primary-color2);
          transition: transform 0.5s ease-in-out;
          position: relative;
          width: fit-content;
          padding: 2rem 0;
          &:hover{
            transform: scale(1.1);
          }
          &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background: #fff;
            height: 1px;
          }
        }
      }
      .pic{
        img{
          max-height: 300px;
          object-fit: contain;
          width: 100%;
        }
      }
    }
  }
  .summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10% 4rem;
    gap: 1rem;
    background: var(--bg);
    color: var(--text-color-1);
    position: relative;
    .header{
      display: flex;
      align-items: center;
      gap: 0.5rem;
      z-index: 1;
    }
    p{
      text-align: justify;
      z-index: 1;
    }
    .fact{
      margin-top: 2rem;
      box-shadow: 3px 5px 10px 0px rgba(12, 12, 12, 0.726);
    }
  }
  .cardSection{
    padding: var(--section-padding);
    background: var(--secondary-bg);
    .cards{
      background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("/images/personality5.jpg");
      background-size: cover;
      background-blend-mode: darken;
      background-attachment: fixed;
      padding: 2rem;
      position: relative;
      border-radius: 10px;
    }
  }
  .rarity{
    padding: var(--section-padding);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
    background: var(--bg);
    color: var(--text-color-1);
    .header{
      display: flex;
      align-items: center;
      gap: 0.5rem;
      z-index: 1;
      h1{
        color: var(--text-color-1);
      }
    }
    h3{
      top: 2%;
      font-size: 200px;
      letter-spacing: 70px;
      color: #f3f3f3;
    }
    h3.dark{
      color: #181818;
    }
    .rarityText{
      display: flex;
      flex-direction: column;
      gap: 3rem;
      text-align: left;
      z-index: 1;
      div{
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      h2{
        font-size: 18px;
        font-weight: 600;
      }
      h4{
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  .fact{
    display: flex;
    padding: 2rem;
    margin: 2rem 0;
    display: flex;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("/images/pattern.jpeg");
    box-shadow: 3px 5px 10px 0px rgb(196 196 196 / 40%);
    color: var(--text-color-2);
    p{
      font-size: 14px;
      text-align: center;
    }
  }
  .strengths{
    display: flex;
    flex-direction: column;
    padding: var(--section-padding);
    gap: 2rem;
    background: var(--secondary-bg);
    position: relative;
    h1{
      color: var(--text-color-1);
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    .section{
      display: flex;
      align-items: flex-start;
      .each{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        padding: 2rem 1rem;
        align-self: stretch;
        position: relative;
        border: 1px solid var(--border-color-1);
        transition: background 0.5s ease-in-out;
        h3{
          top: 35%;
          left: 5%;
          letter-spacing: 5px;
          z-index: 0;
          transition: color 0.5s ease-in-out;
        }
        .strength-child{
          display: flex;
          gap: 10px;
          align-items: center;
          z-index: 1;
          svg{
            width: 20px;
            height: 20px;
          }
          .point{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            h4{
              font-size: 16px;
            }
            p{
              font-size: 14px;
              text-align: left;
            }
          }
        }
      }
      .strength{
        background: #ccebfd;
        color: #003342;
        border-top-left-radius: 1%;
        border-bottom-left-radius: 1%;
        border-right: none;
        &:hover{
          background: #ddf3ff;
          h3{
            color: #ddf3ff;
          }
        }
        .svg{
          background: #003342;
        }
        h3{
          font-size: 75px;
          letter-spacing: 7px;
          color: #e0f1ff;
        }
      }
      .strength.dark{
        background: #003342;
        color: #ddf3ff;
        &:hover{
          background: #015169;
          h3{
            color: #015169;
          }
        }
        h3{
          color: #004357;
        }
      }
      .weakness{
        background: #fde9d4;
        color: #a11300;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        &:hover{
          background: #fff5f0;
          h3{
            color: #fff5f0;
          }
        }
        .svg{
          background: #a11300;
        }
        h3{
          font-size: 80px;
          letter-spacing: 5px;
          color: #fffcf8;;
        }
      }
      .weakness.dark{
        background: #700d00;
        color: #fff5f0;
        &:hover{
          background: #8d1000;
          h3{
            color: #8d1000;
          }
        }
        h3{
          color: #8b1000;
        }
      }
    }
    .fact{
      box-shadow: 3px 5px 10px 0px rgba(3, 3, 3, 0.726);
    }
  }
  .careers{
    display: flex;
    flex-direction: column;
    padding: var(--section-padding);
    gap: 2rem;
    position: relative;
    background: var(--bg);
    color: var(--text-color-1);
    .header{
      display: flex;
      align-items: center;
      gap: 0.5rem;
      z-index: 1;
    }
    p{
      z-index: 1;
      text-align: justify;
    }
    .opportunities{
      margin-left: 0;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      z-index: 1;
      h4{
        font-size: 18px;
      }
      ul{
        font-size: 16px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        li{
          list-style: none;
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
    }

  }
  .celebs{
    padding: 2rem 10%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    position: relative;
    background: var(--celeb-bg);
    color: var(--text-color-1);
    h3{
      top: 6%;
      font-size: 150px;
      letter-spacing: 30px;
      color: var(--celeb-h3);
    }
    .header{
      display: flex;
      align-items: center;
      gap: 0.5rem;
      z-index: 1;
    }
  }
}
@media (min-width: 1600px){
  .singlePersonality{
    .singlePersonalityHero{
      height:calc(100vh - 7rem);
      .sHero{
        .heroText{
          h1{
            font-size: 60px;
          }
          h2{
            font-size: 36px;
          }
        }
        .pic{
          img{
            max-height: 400px;
          }
        }
      }
    }
    .summary{
      gap: 1rem;
      padding: 2rem 10% 4rem;
      .header{
        gap: 1rem;
      }
      .fact{
        margin-top: 2rem;
      }
    }
    .cardSection{
      .cards{
        padding: 4rem;
      }
    }
    .rarity{
      gap: 3rem;
      .header{
        gap: 1.5rem;
      }
      h3{
        font-size: 300px;
      }
      .rarityText{
        gap: 4rem;
        div{
          gap: 2rem;
        }
        h2{
          font-size: 22px;
        }
        h4{
          font-size: 20px;
        }
      }
    }
    .strengths{
      gap: 3rem;
      h1{
        gap: 1.5rem;
      }
      .section{
        .each{
          gap: 2rem;
          padding: 3rem 2rem;
          .strength-child{
            svg{
              width: 25px;
              height: 25px;
            }
            .point{
              gap: 0.5rem;
              h4{
                font-size: 20px;
              }
              p{
                font-size: 18px;
                line-height: 40px;
              }
            }
          }
        }
        .strength{
          h3{
            font-size: 120px;
            letter-spacing: 10px;
          }
        }
        .weakness{
          h3{
            font-size: 100px;
            letter-spacing: 7px;
          }
        }
      }
    }
    .fact{
      padding: 2rem;
      margin: 2rem 0;
      p{
        font-size: 16px;
      }
    }
    .careers{
      gap: 3rem;
      .header{
        gap: 2rem;
      }
      .opportunities{
        margin-left: 1rem;
        gap: 2rem;
        h4{
          font-size: 22px;
        }
        ul{
          font-size: 20px;
          gap: 20px;
          li{
            gap: 10px;
          }
        }
      }
    }
    .celebs{
      padding: 4rem 10%;
      gap: 2rem;
      h3{
        font-size: 180px;
        letter-spacing: 50px;
      }
      .header{
        gap: 2rem;
      }
    }
  }
}
@media (min-width: 1400px) and (max-width: 1600px){
  .singlePersonality{
    .singlePersonalityHero{
      height:calc(100vh - 6rem);
      .sHero{
        .heroText{
          h1{
            font-size: 55px;
          }
          h2{
            font-size: 30px;
          }
        }
        .pic{
          img{
            max-height: 350px;
          }
        }
      }
    }
    .summary{
      gap: 1rem;
      padding: 2rem 10% 4rem;
      .header{
        gap: 1rem;
      }
      .fact{
        margin-top: 2rem;
      }
    }
    .cardSection{
      .cards{
        padding: 3rem;
      }
    }
    .rarity{
      gap: 2rem;
      .header{
        gap: 1rem;
      }
      h3{
        font-size: 250px;
      }
      .rarityText{
        gap: 3.5rem;
        div{
          gap: 1.5rem;
        }
        h2{
          font-size: 20px;
        }
        h4{
          font-size: 18px;
        }
      }
    }
    .strengths{
      gap: 2rem;
      h1{
        gap: 1rem;
      }
      .section{
        .each{
          gap: 2rem;
          padding: 2.5rem 1.5rem;
          .strength-child{
            svg{
              width: 25px;
              height: 25px;
            }
            .point{
              gap: 0.5rem;
              h4{
                font-size: 18px;
              }
              p{
                font-size: 16px;
                line-height: 40px;
              }
            }
          }
        }
        .strength{
          h3{
            font-size: 100px;
            letter-spacing: 10px;
          }
        }
        .weakness{
          h3{
            font-size: 85px;
            letter-spacing: 7px;
          }
        }
      }
    }
    .fact{
      padding: 2rem;
      margin: 2rem 0;
      p{
        font-size: 15px;
      }
    }
    .careers{
      gap: 2.5rem;
      .header{
        gap: 1rem;
      }
      .opportunities{
        margin-left: 1rem;
        gap: 1.5rem;
        h4{
          font-size: 20px;
        }
        ul{
          font-size: 18px;
          gap: 15px;
          li{
            gap: 7px;
          }
        }
      }
    }
    .celebs{
      padding: 3rem 10%;
      gap: 1.5rem;
      h3{
        font-size: 160px;
        letter-spacing: 40px;
      }
      .header{
        gap: 1rem;
      }
    }
  }
}
@media (min-width: 1200px) and (max-width: 1400px){
  .singlePersonality{
    .strengths{
      gap: 2rem;
      h1{
        gap: 0.5rem;
      }
      .section{
        .each{
          gap: 1.5rem;
          padding: 2rem 1rem;
          h3{
            letter-spacing: 5px;
          }
          .strength-child{
            gap: 10px;
            svg{
              width: 20px;
              height: 20px;
            }
            .point{
              gap: 0.5rem;
              h4{
                font-size: 16px;
              }
              p{
                font-size: 14px;
              }
            }
          }
          h3{
            font-size: 80px;
            letter-spacing: 7px;
          }
        }
        .weakness{
          h3{
            font-size: 70px;
            letter-spacing: 7px;
          }
        }
      }
    }
  }
}
@media (min-width: 998px) and (max-width: 1200px){
  .singlePersonality{
    .singlePersonalityHero{
      height:calc(100vh - 4rem);
      .sHero{
        gap: 2rem;
        .heroText{
          gap: 2rem;
          h1{
            font-size: 36px;
          }
          h2{
            font-size: 18px;
            padding: 2rem 0;
          }
        }
        .pic{
          img{
            max-height: 250px;
          }
        }
      }
    }
    .summary{
      gap: 1rem;
      padding: 0 7% 4rem;
      .header{
        gap: 1rem;
      }
      .fact{
        margin-top: 2rem;
      }
    }
    .rarity{
      gap: 1.5rem;
      h3{
        font-size: 150px;
        letter-spacing: 50px;
        left: 7%;
      }
      .rarityText{
        gap: 3rem;
        div{
          gap: 1rem;
        }
        h2{
          font-size: 16px;
        }
        h4{
          font-size: 14px;
        }
      }
    }
    .strengths{
      gap: 2rem;
      h1{
        gap: 0.5rem;
      }
      .section{
        .each{
          gap: 1.5rem;
          padding: 2rem 1rem;
          h3{
            letter-spacing: 5px;
          }
          .strength-child{
            gap: 7px;
            svg{
              width: 15px;
              height: 15px;
            }
            .point{
              gap: 0.5rem;
              h4{
                font-size: 16px;
              }
              p{
                font-size: 14px;
              }
            }
          }
          h3{
            font-size: 75px;
            letter-spacing: 7px;
          }
        }
        .weakness{
          h3{
            font-size: 60px;
            letter-spacing: 5px;
          }
        }
      }
    }
    .careers{
      gap: 2rem;
      .header{
        gap: 0.5rem;
      }
      .opportunities{
        margin-left: 0;
        gap: 1rem;
        h4{
          font-size: 18px;
        }
        ul{
          font-size: 16px;
          gap: 10px;
          li{
            gap: 5px;
          }
        }
      }
  
    }
    .celebs{
      padding: 2rem 10%;
      gap: 1rem;
      h3{
        font-size: 110px;
        letter-spacing: 30px;
      }
    }
  }
}
@media (min-width: 880px) and (max-width: 998px){
  .singlePersonality{
    .strengths{
      gap: 2rem;
      h1{
        gap: 0.5rem;
      }
      .section{
        .each{
          gap: 1.5rem;
          padding: 2rem 1rem;
          h3{
            letter-spacing: 5px;
          }
          .strength-child{
            gap: 5px;
            svg{
              width: 13px;
              height: 13px;
            }
            .point{
              gap: 0.5rem;
              h4{
                font-size: 14px;
              }
              p{
                font-size: 12px;
              }
            }
          }
          h3{
            font-size: 65px;
            letter-spacing: 7px;
          }
        }
        .weakness{
          h3{
            font-size: 55px;
            letter-spacing: 5px;
          }
        }
      }
    }
    .fact{
      padding: 1.5rem;
      margin: 1rem 0;
      p{
        font-size: 13px;
      }
    }
    .rarity{
      gap: 1rem;
      h3{
        font-size: 140px;
        letter-spacing: 40px;
        left: 5%;
      }
      .rarityText{
        gap: 2rem;
        div{
          gap: 1rem;
        }
        h2{
          font-size: 14px;
        }
        h4{
          font-size: 12px;
        }
      }
    }
    .celebs{
      padding: 2rem 7%;
      gap: 1rem;
      h3{
        font-size: 90px;
        letter-spacing: 30px;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 880px) {
  .singlePersonality{
    .singlePersonalityHero{
      height:calc(100vh - 4rem);
      .sHero{
        gap: 1.5rem;
        .heroText{
          gap: 1.5rem;
          h1{
            font-size: 28px;
          }
          h2{
            font-size: 14px;
            padding: 1.5rem 0;
          }
        }
        .pic{
          img{
            max-height: 200px;
          }
        }
      }
    }
    .summary{
      gap: 1rem;
      padding: 2rem 5% 2rem;
      .header{
        gap: 1rem;
      }
      .fact{
        margin-top: 1rem;
        padding: 1.5rem;
      }
    }
    .cardSection{
      .cards{
        padding: 1.5rem;
      }
    }
    .rarity{
      gap: 1rem;
      h3{
        font-size: 110px;
        letter-spacing: 40px;
        left: 5%;
      }
      .rarityText{
        gap: 2rem;
        div{
          gap: 1rem;
        }
        h2{
          font-size: 14px;
        }
        h4{
          font-size: 12px;
        }
      }
    }
    .strengths{
      gap: 1.5rem;
      h1{
        gap: 0.5rem;
      }
      .section{
        flex-direction: column;
        gap: 2rem;
        .each{
          gap: 1.5rem;
          padding: 1.5rem 1rem;
          border-radius: 10px;
          h3{
            letter-spacing: 5px;
          }
          .strength-child{
            gap: 5px;
            svg{
              width: 10px;
              height: 10px;
            }
            .point{
              gap: 0.5rem;
              h4{
                font-size: 14px;
              }
              p{
                font-size: 12px;
              }
            }
          }
          h3{
            font-size: 70px;
            letter-spacing: 7px;
          }
        }
        .weakness{
          h3{
            font-size: 70px;
            letter-spacing: 7px;
          }
        }
      }
    }
    .fact{
      padding: 1.5rem;
      margin: 1rem 0;
      p{
        font-size: 13px;
      }
    }
    .careers{
      gap: 1.5rem;
      .header{
        gap: 0.5rem;
      }
      .opportunities{
        margin-left: 0;
        gap: 1rem;
        h4{
          font-size: 16px;
        }
        ul{
          font-size: 14px;
          gap: 10px;
          li{
            gap: 5px;
          }
        } 
      }
  
    }
    .celebs{
      padding: 2rem 7%;
      gap: 1rem;
      h3{
        font-size: 80px;
        letter-spacing: 20px;
      }
    }
  }
}
@media (min-width: 560px) and (max-width: 768px){
  .singlePersonality{
    .singlePersonalityHero{
      height:calc(100vh - 3.5rem);
      .sHero{
        height: 100%;
        gap: 1rem;
        .heroText{
          gap: 1rem;
          h1{
            font-size: 24px;
          }
          h2{
            font-size: 12px;
            padding: 1rem 0;
          }
        }
        .pic{
          img{
            max-height: 180px;
          }
        }
      }
    }
    .summary{
      gap: 1rem;
      padding: 2rem 5% 2rem;
      .header{
        gap: 1rem;
      }
      .fact{
        margin-top: 0;
        padding: 1rem;
      }
    }
    .cardSection{
      .cards{
        padding: 1rem;
      }
    }
    .rarity{
      gap: 1rem;
      h3{
        font-size: 90px;
        letter-spacing: 30px;
      }
      .rarityText{
        gap: 2rem;
        div{
          gap: 1rem;
        }
        h2{
          font-size: 12px;
        }
        h4{
          font-size: 10px;
        }
      }
    }
    .strengths{
      gap: 1.5rem;
      h1{
        gap: 0.5rem;
      }
      .section{
        flex-direction: column;
        gap: 1.5rem;
        .each{
          gap: 1.5rem;
          padding: 1.5rem 1rem;
          border-radius: 10px;
          h3{
            letter-spacing: 5px;
          }
          .strength-child{
            gap: 5px;
            svg{
              width: 10px;
              height: 10px;
            }
            .point{
              gap: 0.5rem;
              h4{
                font-size: 14px;
              }
              p{
                font-size: 12px;
              }
            }
          }
          h3{
            font-size: 65px;
            letter-spacing: 7px;
          }
        }
        .weakness{
          h3{
            font-size: 60px;
            letter-spacing: 7px;
          }
        }
      }
    }
    .fact{
      padding: 1rem;
      margin: 0;
      p{
        font-size: 12px;
        line-height: 20px;
      }
    }
    .careers{
      gap: 1rem;  
      .opportunities{
        margin-left: 0;
        gap: 1rem;
        h4{
          font-size: 14px;
        }
        ul{
          font-size: 12px;
          gap: 10px;
          li{
            gap: 5px;
          }
        } 
      }
    }
    .celebs{
      padding: 1.5rem 5%;
      gap: 1rem;
      h3{
        top: 8%;
        font-size: 70px;
        letter-spacing: 20px;
      }
    }
  }
}
@media (max-width: 560px){
  .singlePersonality{
    .singlePersonalityHero{
      height:calc(100vh - 3rem);
      .sHero{
        height: 100%;
        gap: 1rem;
        .heroText{
          gap: 1rem;
          h1{
            font-size: 22px;
          }
          h2{
            font-size: 12px;
            padding: 1rem 0;
          }
        }
      }
    }
    .summary{
      gap: 1rem;
      padding: 2rem 4% 0rem;
      .header{
        gap: 1rem;
      }
      .fact{
        margin-top: 0;
      }
    }
    .rarity{
      gap: 1rem;
      h3{
        font-size: 70px;
        letter-spacing: 30px;
      }
      .rarityText{
        gap: 1rem;
        div{
          gap: 1rem;
        }
        h2{
          font-size: 12px;
        }
        h4{
          font-size: 10px;
        }
      }
    }
    .strengths{
      gap: 1.5rem;
      h1{
        gap: 0.5rem;
      }
      .section{
        flex-direction: column;
        gap: 1.5rem;
        .each{
          gap: 1.5rem;
          padding: 1.5rem 1rem;
          border-radius: 10px;
          h3{
            letter-spacing: 5px;
          }
          .strength-child{
            gap: 5px;
            svg{
              width: 10px;
              height: 10px;
            }
            .point{
              gap: 0.3rem;
              h4{
                font-size: 14px;
              }
              p{
                font-size: 12px;
              }
            }
          }
          h3{
            font-size: 65px;
            letter-spacing: 7px;
          }
        }
        .weakness{
          h3{
            font-size: 57px;
            letter-spacing: 7px;
          }
        }
      }
    }
    .fact{
      padding: 1rem;
      margin: 0;
      p{
        font-size: 10px;
        line-height: 15px;
      }
    }
    .careers{
      gap: 1rem;  
      .opportunities{
        margin-left: 0;
        gap: 1rem;
        h4{
          font-size: 14px;
        }
        ul{
          font-size: 12px;
          gap: 10px;
          li{
            gap: 5px;
          }
        } 
      }
    }
    .celebs{
      padding: 1rem 5%;
      gap: 0;
      h3{
        top: 10%;
        font-size: 55px;
        letter-spacing: 10px;
      }
    }
  }
}
@media (max-width: 400px){
  .singlePersonality{
    .singlePersonalityHero{
      height:calc(100vh - 3rem);
      .sHero{
        height: 100%;
        gap: 1rem;
        padding: 1rem;
        .heroText{
          gap: 1rem;
          h1{
            font-size: 22px;
          }
          h2{
            font-size: 12px;
            padding: 1rem 0;
          }
        }
        .pic{
          img{
            max-width: 200px;
          }
        }
      }
    }
    .fact{
      padding: 1rem;
      margin: 0;
      p{
        font-size: 9px;
        line-height: 10px;
      }
    }
    .careers{
      gap: 1rem;  
      .opportunities{
        margin-left: 0;
        gap: 1rem;
        h4{
          font-size: 12px;
        }
        ul{
          font-size: 11px;
          gap: 10px;
          li{
            gap: 5px;
          }
        } 
      }
    }
    .celebs{
      padding: 1rem 4%;
      gap: 0;
      h3{
        top: 7%;
        font-size: 50px;
        letter-spacing: 10px;
      }
    }
  }
}