.singlePersonality{
  .singlePersonalityHero{
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("/images/personality2.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: white;
    .heroText{
      display: flex;
      flex-direction: column;
      gap: 2rem;

      h1{
        color: white;
        font-size: 48px;
        font-weight: 700;
      }
      .line{
        background: white;
        height: 1px;
        width: 300px;
      }
      h3{
        font-size: 20px;
      }

    }
    .pic{
  
      img{
        max-height: 300px;
        object-fit: contain;
        width: 100%;
      }
    }
  }
  .summary{
    display: flex;
    flex-direction: column;
    padding: 3rem 15%;
    gap: 1rem;
    .header{
      display: flex;
      align-items: center;
      gap: 0.5rem;
      h2{
        font-size: 18px;
      }
      .line{
        background: #000;
        height: 1px;
        width: 200px;
      }
    }
    p{
      font-size: 12px;
      text-align: justify;
      line-height: 20px;
    }
  }
  .cards{
    background: #f1f1f1;
    padding: 6rem 15%;
    position: relative;
  }
  .strengths{
    display: flex;
    flex-direction: column;
    padding: 2rem 15%;
    gap: 2rem;
    h1{
      text-align: center;
      font-size: 18px;
    }

    .section{
      display: flex;
      align-items: flex-start;

      .each{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        padding: 1rem;
        align-self: stretch;

        h2{
          font-size: 16px;
          font-weight: 700;
        }
        .strength-child{
          display: flex;
          gap: 0.5rem;
          align-items: center;
          svg{
            width: 20px;
            height: 20px;
            flex-shrink: 0;
          }

          .point{
            display: flex;
            flex-direction: column;

            h3{
              font-size: 12px;
              position: relative;
              display: flex;
              align-items: center;
              width: fit-content;

              &::after{
                position: absolute;
                right: -55px;
                content: "";
                width: 50px;
                height: 2px;
                background: #000;
              }
            }
            p{
              font-size: 11px;
            }
          }
        }
      }

      .strength{
        background: #cdffdc;
      }
      .weakness{
        background: #ffd2d2;
      }
    }
  }
}