.steps{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  span{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div{
    width: 120px;
    height: 3px;
  }
}