.navbar{
  display: flex;
  padding: 1.5rem 4rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 15px 2px rgba(205, 205, 205,0.56);
  -webkit-box-shadow: 0px 2px 15px 2px rgba(205, 205, 205,0.56);
  -moz-box-shadow: 0px 2px 15px 2px rgba(205, 205, 205,0.56);
  // background: #686868;
  // color: #ececec;
  .logo{
    font-size: 22px;
    font-weight: 700;
  }
  a{
    text-decoration: none;
    color: inherit;
    transition: transform 0.5s ease;
    padding: 0.5rem 0;
    position: relative;

    &:hover{
      transform: translateY(-5px);
      color: #8855ff;
    }
    &:after {
      background-color: #8855ff;
      bottom: -4px;
      content: "";
      height: 2px;
      left: 0px;
      position: absolute;
      transform: scaleX(0);
      transition: transform 0.3s ease 0s;
      width: 100%;
    }
    &:hover:after {
      transform: scaleX(1);
    }
  }

  .navItems{
    a{
      font-size: 18px;
      font-weight: 500px;
    }
    ul{
      display: flex;
      gap: 2rem;

      .navDrop{
        display: flex;
        gap:0.5rem;
        align-items: center;
        position: relative;

        a{
          border: none;
        }
        svg{
          transition: transform 0.5s ease;
          cursor: pointer;
          font-size: 12px;
          &:hover{
            color: #8855ff;
          }
        }
        .dropdown {
          position: absolute;
          bottom: -14rem;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          padding: 1rem;
          grid-gap: 1.5rem;
          background: white;
          box-shadow: 0px 2px 15px 2px rgba(205, 205, 205, 0.56);
          -webkit-box-shadow: 0px 2px 15px 2px rgba(205, 205, 205, 0.56);
          -moz-box-shadow: 0px 2px 15px 2px rgba(205, 205, 205, 0.56);
        
          a{
            &:hover{
              transform: translateY(0);
            }
          }
          p {
            font-size: 12px;
            position: relative;
            cursor: pointer;
            transition: border-bottom 0.5s ease;
        
            &:hover {
              color: #8855ff;
            }
          
            &.withLine {
              &:after {
                content: "";
                position: absolute;
                top: 50%;
                bottom: 50%;
                right: -0.75rem;
                transform: translate(-50%,-50%);
                width: 1px;
                height: 12px;
                // background: #dbe5e6;
                background: #8d9596;
              }
            }
          }
        }
        
      }
    }
  }
}