.navbar{
  display: flex;
  padding: 1rem 10%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color-1);
  background: var(--bg);
  color: var(--text-color-1);
  position: sticky;
  top: 0;
  z-index: 99999;
  .logo{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-color-1);
    font-family: "Azonix";
    display: inline-block;
  }
  .navItems{
    a{
      text-decoration: none;
      color: inherit;
      transition: transform 0.5s ease;
      position: relative;
      font-size: 16px;
      font-weight: 400;
      &:hover{
        transform: translateY(-5px) !important;
        color: var(--primary-color);;
      }
      &:after {
        background-color: var(--primary-color);;
        bottom: -4px;
        content: "";
        height: 2px;
        left: 0px;
        position: absolute;
        transform: scaleX(0);
        transition: transform 0.3s ease 0s;
        width: 100%;
      }
      &:hover:after {
        transform: scaleX(1);
      }
    }
    ul{
      display: flex;
      gap: 2rem;
    }
  }
  .barContainer{
    display: flex;
    align-items: center;
    gap: 2rem;
    .themeBox{
      height: 30px;
      width: 70px;
      background: var(--bg);
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      border: 1px solid var(--border-color-1);
      border-radius: 20px;
      padding: 0 5px;
      .ball{
        position: absolute;
        left: 0;
        height: 28px;
        width: 28px;
        background: var(--primary-color);;
        border-radius: 20px;  
        cursor: pointer; 
        transition: left 1s ease-in-out;
      }
      .moveRight{
        right: 0;
        left: auto;
      }
      svg{
        cursor: pointer;
        color: var(--text-color-1);
      }
    }
    .bars{
      display: none;
      flex-direction: column;
      gap: 5px;
      align-items: flex-end;
      cursor: pointer;
      width: 35px;
      span{
        height: 2px;
        width: 28px;
        border-radius: 10px;
        background: var(--primary-color);
        transition: width 0.3s ease;
      }
      span:nth-child(2) {
        animation-delay: 0.5s !important;
      }
      span:last-child {
        animation-delay: 1s !important;
      }
      &:hover{
        span{
          animation: widthToggle 1s infinite alternate
        }
      }
    }
  }
  .navDrop{
    display: flex;
    gap:0.5rem;
    align-items: center;
    position: relative;
    a{
      border: none;
    }
    svg{
      transition: transform 0.5s ease;
      cursor: pointer;
      font-size: 12px;
      &:hover{
        color: var(--primary-color);;
      }
    }
    .dropdown {
      position: absolute;
      bottom: -15rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding: 1rem;
      grid-gap: 1.5rem;
      background: var(--secondary-bg);
      color: var(--text-color-1);
      a{
        padding: 0;
        color: var(--text-color-1);
        &:hover{
          transform: translateY(0);
        }
      }
      p{
        font-size: 12px;
        font-weight: 600;
        position: relative;
        cursor: pointer;
        transition: border-bottom 0.5s ease;
        &:hover {
          color: var(--primary-color);;
        }
        &.withLine {
          &:after {
            content: "";
            position: absolute;
            top: 50%;
            bottom: 50%;
            right: -0.75rem;
            transform: translate(-50%,-50%);
            width: 1px;
            height: 12px;
            background: var(--text-color-1);
          }
        }
      }
    }
  }
  .mobileNavContainer{
    width: 100vw;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    .mobileNav{
      position: absolute;
      top: 0;
      right: 0;
      height: 100vh;
      width: 70vw;
      background: var(--primary-color);
      // background: rgb(104, 104, 104);
      padding: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transform-origin: top;
      .cancel{
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        svg{
          font-size: 2rem;
          color: white;
        }
      }
      ul{
        display: flex;
        flex-direction: column;
        gap: 4rem;
      }
      a{
        // color: var(--text-color-1);
        color:white;
      }
      svg{
        color: white;
      }
    }
    .closeNav{
      height: 100vh;
      width: 30vw;
    }
  }
}
@keyframes widthToggle {
  0% {
    width: 30px;
  }
  50% {
    width: 20px;
  }
  100% {
    width: 30px;
  }
}
@media (min-width: 1600px){
  .navbar{
    padding: 2rem 10%;
    .navItems{
      a{
        font-size: 20px;
      }
      ul{
        gap: 6rem;
      }
    }
    .navDrop{
      gap:1rem;
      svg{
        font-size: 20px;
      }
      .dropdown {
        padding: 2rem;
        grid-gap: 3rem;
        bottom: -27rem;
        p{
          font-size: 20px;
          &.withLine {
            &:after {
              right: -1.5rem;
              height: 20px;
            }
          }
        }
      }
    }
    .barContainer{
      .themeBox{
        height: 50px;
        width: 110px;
        border-radius: 40px;
        padding: 0 10px;
        svg{
          font-size: 2rem;
        }
        .ball{
          height: 42px;
          width: 42px;
          border-radius: 40px;  
        }
      }
      .bars{
        gap: 5px;
        width: 35px;
        span{
          height: 2px;
          width: 28px;
          border-radius: 10px;
        }
      }
    }
  }
}
@media (min-width: 1400px) and (max-width: 1600px){
  .navbar{
    padding: 1.5rem 10%;
    .navItems{
      a{
        font-size: 18px;
      }
      ul{
        gap: 3rem;
      }
    }
    .navDrop{
      gap:1rem;
      svg{
        font-size: 18px;
      }
      .dropdown {
        padding: 1.5rem;
        bottom: -18rem;
        grid-gap: 2rem;
        p{
          font-size: 18px;
          &.withLine {
            &:after {
              right: -1rem;
              height: 15px;
            }
          }
        }
      }
    }
    .barContainer{
      .themeBox{
        height: 40px;
        width: 90px;
        border-radius: 30px;
        padding: 0 7px;
        svg{
          font-size: 1.5rem;
        }
        .ball{
          height: 35px;
          width: 35px;
          border-radius: 30px;  
        }
      }
      .bars{
        gap: 5px;
        width: 35px;
        span{
          height: 2px;
          width: 28px;
          border-radius: 10px;
        }
      }
    }
  }
}
@media (max-width: 998px){
  .navbar{
    padding: 1rem 7%;
    .logo{
      font-size: 15px;
    }
    .navItems{
      a{
        font-size: 13px;
      }
      ul{
        gap: 1.5rem;
      }
    }
    .barContainer{
      gap: 1.5rem;
      .themeBox{
        height: 25px;
        width: 60px;
        .ball{
          height: 23px;
          width: 23px;
        }
      }
    }
  }
}
@media (max-width: 768px){
  .navbar{
    padding: 1rem 5%;
    .navItems{
      display: none;
    }
    .bars{
      display: flex !important;
    }
    .cancel{
      svg{
        font-size: 22px !important;
      }
    }
  }
}
@media (max-width: 560px){
  .navbar{
    padding: 0.5rem 5%;
    .navDrop{
      gap: 0.2rem;
    }
    .barContainer{
      gap: 1rem;
      .themeBox{
        height: 19px;
        width: 40px;
        border-radius: 20px;
        padding: 0 3px;
        .ball{
          height: 17px;
          width: 17px;
          border-radius: 20px;  
        }
        svg{
          font-size: 0.6rem;
        }
      }
    }
    .mobileNavContainer{
      .mobileNav{
        width: 100vw;
        svg{
          font-size: 10px;
        }
      }
      .closeNav{
        display: none;
      }
      .cancel{
        svg{
          font-size: 18px !important;
        }
      }
    }
  }
}
@media (max-width: 400px){
  .navbar{
    padding: 0.5rem 3%;
    .barContainer{
      gap: 0.5rem;
      .themeBox{
        height: 17px;
        width: 37px;
        border-radius: 20px;
        padding: 0 3px;
        .ball{
          height: 15px;
          width: 15px;
          border-radius: 20px;  
        }
        svg{
          font-size: 0.6rem;
        }
      }
      .bars{
        gap: 4px;
        width: 27px;
        span{
          height: 2px;
          width: 19px;
        }
      }
    }
  }
}