.navbar{
  display: flex;
  padding: 1rem 10%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color-1);
  background: var(--bg);
  color: var(--text-color-1);
  position: sticky;
  top: 0;
  z-index: 99999;
  .logo{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-color-1);
    font-family: "Azonix";
    display: inline-block;
  }
  a{
    text-decoration: none;
    color: inherit;
    transition: transform 0.5s ease;
    position: relative;
    &:hover{
      transform: translateY(-5px);
      color: var(--primary-color);;
    }
    &:after {
      background-color: var(--primary-color);;
      bottom: -4px;
      content: "";
      height: 2px;
      left: 0px;
      position: absolute;
      transform: scaleX(0);
      transition: transform 0.3s ease 0s;
      width: 100%;
    }
    &:hover:after {
      transform: scaleX(1);
    }
  }
  .navItems{
    a{
      font-size: 16px;
      font-weight: 400;
    }
    ul{
      display: flex;
      gap: 2rem;
      .navDrop{
        display: flex;
        gap:0.5rem;
        align-items: center;
        position: relative;
        a{
          border: none;
        }
        svg{
          transition: transform 0.5s ease;
          cursor: pointer;
          font-size: 12px;
          &:hover{
            color: var(--primary-color);;
          }
        }
        .dropdown {
          position: absolute;
          bottom: -15rem;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          padding: 1rem;
          z-index: 999;
          grid-gap: 1.5rem;
          background: var(--secondary-bg);
          color: var(--text-color-1);
          a{
            padding: 0;
            &:hover{
              transform: translateY(0);
            }
          }
          p{
            font-size: 12px;
            font-weight: 600;
            position: relative;
            cursor: pointer;
            transition: border-bottom 0.5s ease;
            &:hover {
              color: var(--primary-color);;
            }
            &.withLine {
              &:after {
                content: "";
                position: absolute;
                top: 50%;
                bottom: 50%;
                right: -0.75rem;
                transform: translate(-50%,-50%);
                width: 1px;
                height: 12px;
                background: var(--text-color-1);
              }
            }
          }
        }
        
      }
    }
  }
  .themeBox{
    height: 30px;
    width: 70px;
    background: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border: 1px solid var(--border-color-1);
    border-radius: 20px;
    padding: 0 5px;
    .ball{
      position: absolute;
      left: 0;
      height: 28px;
      width: 28px;
      background: var(--primary-color);;
      border-radius: 20px;  
      cursor: pointer; 
      transition: left 1s ease-in-out;
    }
    .moveRight{
      right: 0;
      left: auto;
    }
    svg{
      cursor: pointer;
      color: var(--text-color-1);
    }
  }
}