.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: auto;
  padding: 1rem 1rem 0;
  .carousel-inner {
    display: flex;
    align-items: flex-start;
    .carouselCard{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 0.5rem;
      text-align: center;
      padding: 0.5rem;
      flex: 0 0 calc(100% / 5); /* Initially show 5 items */
      transition: all 0.5s ease;
      min-height: 360px;
      img{
        height: 150px;
        width: 150px;
        border-radius: 50%;
        object-fit: cover;
        object-position: top center;
      }
      h2{
        font-size: 18px;
        font-weight: 600;
      }
      p{
        font-size: 13px;
        width: 90%;
        line-height: 18px;
        text-align: center;
      }
    }
  }
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 1rem;
    background: #b67f7f;
    transition: background 0.3s ease;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    &:hover{
      background: #af2121;
    }
    svg{
      font-size: 4rem;
    }
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
}

/* Adjust number of visible items based on screen size */
@media (max-width: 1499px) {
  .carouselCard {
    flex: 0 0 calc(100% / 4); /* Show 4 items */
  }
}

@media (max-width: 998px) {
  .carousel{
    .carousel-inner{
      .carouselCard {
        flex: 0 0 calc(100% / 3); /* Show 3 items */
        min-height: 330px;
        img{
          height: 140px;
          width: 140px;
        }
        h2{
          font-size: 16px;
        }
      }
    }
    button {
      padding: 0.5rem;
      height: 40px;
      width: 40px;
      svg{
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .carousel {
    .carousel-inner {
      .carouselCard {
        flex: 0 0 calc(100% / 2); /* Show 2 items */
        min-height: 280px;
        h2{
          font-size: 14px;
        }
        p{
          font-size: 12px;
          line-height: 15px;
          width: 80%;
        }
        img{
          height: 120px;
          width: 120px;
        }
      }
    }
    button {
      padding: 0;
      height: 35px;
      width: 35px;
      svg{
        font-size: 1rem;
      }
    }
  }
}
// @media (max-width: 560px) {
//   .carousel {
//     .carousel-inner {
//       .carouselCard {
//         flex: 0 0 calc(100% / 1); /* Show 1 items */
//         min-height: 230px;
//         h2{
//           font-size: 12px;
//         }
//         p{
//           font-size: 10px;
//           line-height: 13px;
//           width: 70%;
//         }
//         img{
//           height: 100px;
//           width: 100px;
//         }
//       }
//     }
//     button {
//       padding: 0;
//       height: 40px;
//       width: 40px;
//       svg{
//         font-size: 1rem;
//       }
//     }
//   }
// }
@media (max-width: 560px) {
  .carousel {
    .carousel-inner {
      .carouselCard {
        flex: 0 0 calc(100% / 1); /* Show 1 item */
        min-height: 245px;
        h2{
          font-size: 14px;
        }
        p{
          font-size: 12px;
          line-height: 13px;
          width: 80%;
        }
        img{
          height: 140px;
          width: 140px;
        }
      }
    }
    button {
      padding: 0;
      height: 40px;
      width: 40px;
      svg{
        font-size: 1rem;
      }
    }
  }
}
