.personalityCard{
  flex: 1;
  border: none;
  padding: 3rem 2rem;
  transition: transform 0.4s;

  &:hover{
    transform: translateY(-20px);
  }
  &:hover img{
    filter: sepia(50%);
    transform: scale(1.2);
  }
  a{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-decoration: none;
    color: initial;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    img{
      z-index: 2;
      width: 100%;
      max-height: 200px;
      object-fit: contain;
      transition: filter 0.4s, transform 0.4s;
    }
    
    h2{
      font-size: 22px;
      font-weight: 700;
    }
    h3{
      font-size: 18px;
      font-weight: 400;
    }
    p{
      font-size: 14px;
      font-weight: 200;
      text-align: center;
    }
  }
}