.test{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--section-padding);
  background: var(--bg);
  .testhero{
    background: var(--bg);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom:2rem;
    .tHero{
      background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("/images/personality3.jpg");
      background-position: center;
      background-size: cover;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70vh;
      border-radius: 20px;
      position: relative;
      color: var(--text-color-2);
      .text{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        h1{
          font-size:24px;
        }
        h2{
          font-size: 16px;
        }
      }
    }
  }
  .cards{
    display: flex;
    gap: 2rem;
    align-items: stretch;
    justify-content: center;
    cursor: pointer;
    .card{
      display: flex;
      flex-direction: column;
      align-items: center;
      border: none;
      color: var(--text-color-1);
      padding: 1rem;
      border-radius: 1rem;
      flex: 1;
      gap: 0.7rem;
      transition: background 0.3s ease;
      text-align: center;
      border: 1px solid var(--border-color-1);
      svg{
        font-size: 40px;
      }
      &:nth-child(1){
        background: #a1c5f9;
        color: #005bda;
        &:hover{
          background: #75a9f1;
        }
        svg{
          path{
            stroke: #2a82fd
          }
        }
      }
      &:nth-child(2){
        background: #f4adad;
        color: #860101;
        svg{
          color: #b90000;
        }
        &:hover{
          background: #fd8f8f;
        }
      }
      &:nth-child(3){
        background: #bfffbf;
        color: #008800;
        svg{
          color: #008800;
        }
        &:hover{
          background: #94ff94;
        }
      }
      h2{
        font-size: 18px;
        font-weight: 500;
      }
      p{
        font-size: 14px;
        text-align: center;
        line-height: 20px;
      }
    }
    .card.dark{
      &:nth-child(1){
        background: #0045a5;
        color: #a0c8ff;
        &:hover{
          background: #045ad3;
        }
        svg{
          path{
            stroke: #a0c8ff
          }
        }
      }
      &:nth-child(2){
        background: #860101;
        color: #fd8f8f;
        svg{
          color: #fd8f8f;
        }
        &:hover{
          background: #b10d0d;
        }
      }
      &:nth-child(3){
        background: #008800;
        color: #94ff94;
        svg{
          color: #94ff94;
        }
        &:hover{
          background: #03b403;
        }
      }
    }
  }
}