.test{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--section-padding);
  background: var(--bg);
  .testhero{
    background: var(--bg);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 10rem);
    margin-bottom: 2rem;
    .tHero{
      background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("/images/personality3.jpg");
      background-position: center;
      background-size: cover;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      border-radius: 10px;
      position: relative;
      color: var(--text-color-2);
      .text{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
        h2{
          font-size: 18px;
        }
      }
    }
  }
  .cards{
    display: flex;
    gap: 2rem;
    align-items: stretch;
    justify-content: center;
    cursor: pointer;
    .card{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      border-radius: 10px;
      flex: 1;
      gap: 1rem;
      transition: background 0.3s ease;
      text-align: center;
      border: 1px solid var(--border-color-1);
      svg{
        font-size: 40px;
      }
      &:nth-child(1){
        background: #b2d2ff;
        color: #005bda;
        &:hover{
          background: #a1c2f0;
        }
        svg{
          path{
            stroke: #2a82fd
          }
        }
      }
      &:nth-child(2){
        background: #f7bbbb;
        color: #860101;
        svg{
          color: #b90000;
        }
        &:hover{
          background: #fd8f8f;
        }
      }
      &:nth-child(3){
        background: #cbf8cb;
        color: #008800;
        svg{
          color: #008800;
        }
        &:hover{
          background: #94ff94;
        }
      }
      h2{
        font-size: 18px;
        font-weight: 500;
      }
      p{
        font-size: 16px;
        text-align: center;
        line-height: 20px;
      }
    }
    .card.dark{
      &:nth-child(1){
        background: #0045a5;
        color: #a0c8ff;
        &:hover{
          background: #045ad3;
        }
        svg{
          path{
            stroke: #a0c8ff
          }
        }
      }
      &:nth-child(2){
        background: #860101;
        color: #fd8f8f;
        svg{
          color: #fd8f8f;
        }
        &:hover{
          background: #b10d0d;
        }
      }
      &:nth-child(3){
        background: #008800;
        color: #94ff94;
        svg{
          color: #94ff94;
        }
        &:hover{
          background: #03b403;
        }
      }
    }
  }
}
@media (min-width: 1600px){
  .test{
    .testhero{
      height: calc(100vh - 10rem);
      margin-bottom: 4rem;
      .tHero{
        .text{
          gap: 4rem;
          h2{
            font-size: 20px;
          }
        }
      }
    }
    .cards{
      gap: 3rem;
      .card{
        padding: 2rem;
        gap: 1rem;
        svg{
          font-size: 50px;
        }
        h2{
          font-size: 22px;
        }
        p{
          font-size: 18px;
          line-height: 30px;
        }
      }
    }
  }
}
@media (min-width: 1400px) and (max-width: 1600px){
  .test{
    .testhero{
      height: calc(100vh - 9rem);
      margin-bottom: 3rem;
      .tHero{
        .text{
          gap: 3rem;
          h2{
            font-size: 18px;
          }
        }
      }
    }
    .cards{
      gap: 2.5rem;
      .card{
        padding: 1.5rem;
        gap: 1rem;
        svg{
          font-size: 45px;
        }
        h2{
          font-size: 20px;
        }
        p{
          font-size: 16px;
          line-height: 25px;
        }
      }
    }
  }
}
@media (max-width: 998px){
  .test{
    .testhero{
      height: calc(100vh - 10rem);
      margin-bottom: 2rem;
      .tHero{
        .text{
          gap: 2rem;
          h2{
            font-size: 18px;
          }
        }
      }
    }
    .cards{
      gap: 2rem;
      .card{
        padding: 1rem;
        gap: 0.7rem;
        svg{
          font-size: 35px;
        }
        h2{
          font-size: 18px;
        }
        p{
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }
}
@media (max-width: 768px){
  .test{
    .testhero{
      height: calc(100vh - 9rem);
      margin-bottom: 1.5rem;
      .tHero{
        .text{
          gap: 1.5rem;
          h2{
            font-size: 18px;
          }
        }
      }
    }
    .cards{
      gap: 1.5rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      .card{
        padding: 0.5rem;
        gap: 0.5rem;
        svg{
          font-size: 35px;
        }
        h2{
          font-size: 18px;
        }
        p{
          font-size: 16px;
          line-height: 20px;
        }
      }
      .card:last-child{
        left: 50%;
      }
    }
  }
}
@media (max-width: 560px){
  .test{
    .testhero{
      height: calc(100vh - 8rem);
      margin-bottom: 2rem;
      .tHero{
        .text{
          gap: 1rem;
          h2{
            font-size: 16px;
          }
        }
      }
    }
    .cards{
      gap: 1rem;
      flex-wrap: wrap;
      .card{
        padding: 1rem 0.5rem;
        gap: 1rem;
        svg{
          font-size: 30px;
        }
        h2{
          font-size: 16px;
        }
        p{
          font-size: 14px;
          line-height: 15px;
        }
      }
    }
  }
}
@media (max-width: 480px){
  .test{
    .testhero{
      height: calc(100vh - 7rem);
      margin-bottom: 1.5rem;
      .tHero{
        .text{
          gap: 1rem;
          h2{
            font-size: 14px;
          }
        }
      }
    }
    .cards{
      gap: 1rem;
      .card{
        padding: 1rem 0.5rem;
        gap: 0.5rem;
        svg{
          font-size: 25px;
        }
        h2{
          font-size: 14px;
        }
        p{
          font-size: 12px;
          line-height: 15px;
        }
      }
    }
  }
}
@media (max-width: 400px){
  .test{
    .testhero{
      height: calc(100vh - 5.5rem);
      margin-bottom: 1rem;
    }
  }
}