.hero{
  height:calc(100vh - 5rem);
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 10%;
  .heroBox{
    border-radius: 10px;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("/images/personality2.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--border-color-1);
    color: var(--text-color-2);
    gap: 2rem;
    height: 100%;
    .quote{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      width: 60%;
      font-style: italic;
      h1{
        font-size: 20px;
        text-align: center;
      }
      h5{
        font-size: 10px;
        text-align: end;
        width: 100%;
      }
    }
    a{
      button{
        svg{
          font-size: 20px;
          transition: transform 0.3s ease;
        }
        &:hover{
          svg{
            animation: moveIcon 1s infinite alternate;
            animation-delay: 1.2s;
          }
        }
      }
    }
  }
}
@keyframes moveIcon {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}
@media (min-width: 1600px){
  .hero{
    padding: 6rem 10%;
    height:calc(100vh - 7rem);
    .heroBox{
      gap: 3rem;
      .quote{
        gap: 2rem;
        h1{
          font-size: 24px;
        }
        h5{
          font-size: 18px;
        }
      }
      a{
        button{
          svg{
            font-size: 22px;
          }
        }
      }
    }
  }
}
@media (min-width: 1400px) and (max-width: 1600px){
  .hero{
    padding: 5rem 10%;
    height:calc(100vh - 5rem);
    .heroBox{
      gap: 3rem;
      .quote{
        gap: 2rem;
        h1{
          font-size: 22px;
        }
        h5{
          font-size: 15px;
        }
      }
      a{
        button{
          svg{
            font-size: 20px;
          }
        }
      }
    }
  }
}
@media (max-width: 998px){
  .hero{
    height:calc(100vh - 4rem);
    padding: 7%;
    .heroBox{
      gap: 1.5rem;
      .quote{
        gap: 0.5rem;
        h1{
          font-size: 16px;
        }
      }
      a{
        button{
          svg{
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media (max-width: 768px){
  .hero{
    padding: 5%;
    .heroBox{
      gap: 1.5rem;
      .quote{
        gap: 0.5rem;
        h1{
          font-size: 16px;
        }
      }
      a{
        button{
          svg{
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media (max-width: 560px){
  .hero{
    height:calc(100vh - 3rem);
    padding: 5%;
    .heroBox{
      gap: 1.5rem;
      .quote{
        gap: 0.5rem;
        width: 70%;
        h1{
          font-size: 11px;
        }
        h5{
          font-size: 8px;
        }
      }
      a{
        button{
          svg{
            font-size: 11px;
          }
        }
      }
    }
  }
}
@media (max-width: 400px){
  .hero{
    height:calc(100vh - 2.5rem);
    padding: 3%;
    .heroBox{
      gap: 1.5rem;
      border-radius: 10px;
      .quote{
        gap: 0.3rem;
        width: 80%;
        h1{
          font-size: 10px;
        }
        h5{
          font-size: 6px;
        }
      }
      a{
        button{
          svg{
            font-size: 9px;
          }
        }
      }
    }
  }
}