* {
  /* font-family: "Montserrat", sans-serif !important; */
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  background: var(--bg);
}
:root {
  --primary-color: #8855ff;
  --primary-color2: #8855ff;
  --bg: #fff;
  --secondary-bg: #f5f5f5;
  --section-padding: 4rem 10%;
  --celeb-bg: #fdf7ff;
  --celeb-h3: #e9dbee;
  --text-color-1: #4e4e4e;
  --text-color-2: #fff;
  --text-color-3: #4e4e4e;
  --text-color-4: #4e4e4e;
  --border-color-1: #d3d3d3;
  --border-color-2: #e9e6e6;
  --eColor: #ffa600;
  --iColor: #73abff;
  --sColor: #70ff70;
  --nColor: #c7c700;
  --tColor: #4144ff;
  --fColor: #ff145a;
  --jColor: #895fff;
  --pColor: #009400;
}
.dark {
  --primary-color: #512da3;
  --primary-color2: #8855ff;
  --bg: #0c0c0c;
  --secondary-bg: #111111;
  --section-padding: 4rem 10%;
  --celeb-bg: #202020;
  --celeb-h3: #2c2c2c;
  --text-color-1: #a7a7a7;
  --text-color-2: #dbdbdb;
  --text-color-3: #eeeeee;
  --text-color-4: #ffffff;
  --border-color-1: #2b2b2b;
  --border-color-2: #333333;
  --eColor: #c27e00;
  --iColor: #0e4fb1;
  --sColor: #137e13;
  --nColor: #888800;
  --tColor: #2d2fa7;
  --fColor: #970e37;
  --jColor: #53379e;
  --pColor: #1a581a;
}
@font-face {
  font-family: "Azonix";
  src: url("/fonts/Azonix.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "Crackajack";
  src: url("/fonts/Crackajack.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-Regular.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-Bold.otf") format("opentype");
  font-weight: 700;
}
.logo {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color-1);
  font-family: "Azonix";
}
button {
  padding: 1rem;
  border-radius: 10px;
  background: var(--primary-color);
  color: white;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.5s ease;
}
button:hover {
  background: #5107ff;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
h3 {
  text-align: center;
}
p {
  font-size: 16px;
  line-height: 30px;
  text-align: justify;
}
ul {
  list-style: none;
}
