.homepage{
  display: flex;
  padding: 2rem 4rem;
  gap: 2rem;
  color: #505050;
  h1{
    font-size: 18px;
    font-weight: 600;
  }
  p{
    font-size: 14px;
    line-height: 30px;
    text-align: justify;
  }
  .briefSummary{
    flex: 1.5;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #ededed;
    border-radius: 20px;
    box-shadow: 0px 2px 15px 2px rgba(205, 205, 205,0.56);
    -webkit-box-shadow: 0px 2px 15px 2px rgba(205, 205, 205,0.56);
    -moz-box-shadow: 0px 2px 15px 2px rgba(205, 205, 205,0.56);
    ul{
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin: 10px 0;
      li{
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 700;
        font-size: 16px;
        svg{
          font-size: 10px;
          color: #8855ff;
        }
      }
    }
  }
  .right{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    .classification, .toNote{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 2rem;
      border: 1px solid #ededed;
      border-radius: 20px;
      box-shadow: 0px 2px 15px 2px rgba(205, 205, 205,0.56);
      -webkit-box-shadow: 0px 2px 15px 2px rgba(205, 205, 205,0.56);
      -moz-box-shadow: 0px 2px 15px 2px rgba(205, 205, 205,0.56);
    }
    .toNote{
      p{
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}
.breakDown{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 4rem;
  align-items: center;
  color: #505050;
  section{
    display: flex;
    width: 80%;
    gap: 2rem;
    .bLeft, .bRight{
      padding: 1rem;
      border-radius: 20px;
      flex: 1;
      cursor: pointer;
      p{
        transform: scale(0);
        transition: transform 2s ease;
      }
    }
    .bLeft{
      text-align: right;
      p{
        transform: scale(0);
      }
      &:hover p{
        transform: scale(1);
      }
    }
    .bRight{
      p{
        transform: scale(0);
      }
      &:hover p{
        transform: scale(1);
      }
    }
  }
  .eiSection{
    .bLeft{
      background: #ffd689;
    }
    .bRight{
      background: #c0c0ff;
    }
  }
  .snSection{
    .bLeft{
      background: #a9f5a9;
    }
    .bRight{
      background: #fffd73;
    }
  }
  .tfSection{
    .bLeft{
      background: #ff8f8f;
    }
    .bRight{
      background: #ff9aff;
    }
  }
  .jpSection{
    .bLeft{
      background: #a1ffa1;
    }
    .bRight{
      background: #b0b8ff;
    }
  }
}
.totalRarity{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 4rem;

  h1{
    font-size: 18px;
  }
  p{
    font-size: 14px;
    span{
      font-weight: 700;
      color: #8855ff;
    }
  }
}