.homepage{
  display: flex;
  padding: 2rem 10%;
  gap: 2rem;
  color: var(--text-color-1);
  .briefSummary{
    flex: 1.5;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    border: 1px solid var(--border-color-1);
    border-radius: 10px;
    // box-shadow: 0px 2px 15px 2px rgba(205, 205, 205,0.56);
    // -webkit-box-shadow: 0px 2px 15px 2px rgba(205, 205, 205,0.56);
    // -moz-box-shadow: 0px 2px 15px 2px rgba(205, 205, 205,0.56);
    ul{
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin: 20px 0;
      li{
        display: flex;
        align-items: center;
        gap: 10px;
        text-transform: uppercase;
        span{
          font-weight: 700;
        }
        svg{
          font-size: 10px;
          color: var(--primary-color);;
        }
      }
    }
  }
  .right{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    .classification, .toNote{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 2rem;
      border: 1px solid var(--border-color-1);
      border-radius: 10px;
      // box-shadow: 0px 2px 15px 2px rgba(205, 205, 205,0.56);
      // -webkit-box-shadow: 0px 2px 15px 2px rgba(205, 205, 205,0.56);
      // -moz-box-shadow: 0px 2px 15px 2px rgba(205, 205, 205,0.56);
    }
    .classification{
      ul{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        li{
          display: flex;
          align-items: center;
          gap: 10px;
          svg{
            color: var(--primary-color);;
            height: 10px;
            width: 20px;
          }
          p{
            text-align: left;
          }
        }
      }
    }
    .toNote{
      p{
        span{
          font-weight: 700;
        }
      }
    }
  }
}
.homeQuote{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #272727;
  color: white;
  padding: 1rem 10%;
  gap: 20px;
  font-style: italic;
  p{
    font-size: 20px;
  }
  h5{
    font-size: 10px;
    text-align: end;
    width: 60%;
  }
}
.breakDown{
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: var(--section-padding);
  align-items: center;
  color: var(--text-color-1);
  background: var(--secondary-bg);
  h1{
    font-size: 24px;
    margin-bottom: 4rem;
  }
  h3{
    font-size: 18px;
    font-weight: 600;
  }
  section{
    display: flex;
    width: 90%;
    gap: 1rem;
    align-items: center;
    margin-bottom: 3rem;
    h2{
      font-size: 20px;
      font-weight: 200;
    }
    .bLeft, .bRight{
      padding: 1rem;
      flex: 1;
      cursor: pointer;
      border: 1px solid var(--border-color-1);
      border-top: none !important;
      border-style: dashed;
      height: 175px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      transition: all 0.5s ease-in-out;
      &:hover{
        flex: 2.5;
        .box{
          background: var(--bg);
          color: var(--text-color-1);
        }
        h2{
          color: var(--text-color-2);
          transform: translateX(0%);
          top: 10px;
        }
        p{
          color: var(--text-color-2);
          visibility: visible;
          width: calc(100% - 120px);
          top: 55px;  
          opacity: 1;
          position: absolute;
          transition: all 1s ease-in-out, color 0.1s ease-in-out;
          transition-delay: 0.2s;
        }
      }
      h2{
        position: absolute;
        top: 55px;
        transition: all 0.5s ease-in-out;
        font-size: 28px;
        font-weight: 400;
      }
      p{
        opacity: 0;
        text-align: justify;
        visibility: hidden;
        margin-top: -10px;
        font-size: 15px;
        line-height: 25px;
      }
      .box{
        position: absolute;
        top: 50px;
        height: 60px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        border-radius: 10px;
        color: var(--text-color-2);
        font-size: 32px;
      }
    }
    .bLeft{
      text-align: right;
      align-items: flex-end;
      border-left: none;
      h2{
        left: 100%;
        transform: translateX(-100%);
        padding-right: 100px;
      }
      &:hover h2{
        left: 19px;
      }
      &:hover p{
        right: 100px;
      }
    }
    .bRight{
      border-right: none;
      h2{
        right: 100%;
        transform: translateX(100%);
        padding-left: 100px;
      }
      &:hover h2{
        right: 19px;
      }
      &:hover p{
        left: 100px;
      }
    }
  }
  .eiSection{
    .bLeft{
      &:hover{
        background: #ffa600;
        h2, p{
          color: var(--text-color-1);
        }
      }
      .box{
        background: #ffa600;
      }
      h2{
        color: #ffa600;
      }
    }
    .bRight{
      &:hover{
        background: #73abff;
      }
      .box{
        background: #73abff;
      }
      h2{
        color: #73abff;
      }
    }
  }
  .snSection{
    .bLeft{
      &:hover{
        background: #70ff70;
        h2, p{
          color: var(--text-color-1);
        }
      }
      .box{
        background: #70ff70;
      }
      h2{
        color: #70ff70;
      }
    }
    .bRight{
      &:hover{
        background: #c7c700;
      }
      .box{
        background: #c7c700;
      }
      h2{
        color: #c7c700;
      }
    }
  }
  .tfSection{
    .bLeft{
      &:hover{
        background: #4144ff;
      }
      .box{
        background: #4144ff;
      }
      h2{
        color: #4144ff;
      }
    }
    .bRight{
      &:hover{
        background: #ff145a;
      }
      .box{
        background: #ff145a;
      }
      h2{
        color: #ff145a;
      }
    }
  }
  .jpSection{
    .bLeft{
      &:hover{
        background: #895fff;
      }
      .box{
        background: #895fff;
      }
      h2{
        color: #895fff;
      }
    }
    .bRight{
      &:hover{
        background: #009400;
      }
      .box{
        background: #009400;
      }
      h2{
        color: #009400;
      }
    }
  }
}
.takeTestSection{
  background: var(--bg);
  padding: var(--section-padding);
}
.takeTestSection3{
  background: var(--secondary-bg);
  padding: var(--section-padding);
}
.takeTestSection2{
  background: #f5f5f5;
  padding: 0 10% 4rem;
  p{
    width: 60%;
    text-align: center;
  }
}
.takeTest{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: var(--section-padding);
  height: 40vh;
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("/images/personality3.jpg");
  background-position: center;
  background-size: cover;
  color: var(--text-color-2);
}
.totalRarity{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: var(--section-padding);
  color: var(--text-color-1);
  background: var(--bg);
  h1{
    font-size: 24px;
    margin-bottom: 1rem;
  }
  p{
    font-size: 16px;
    span{
      font-weight: 700;
      color: var(--primary-color);;
    }
  }
}